@model WebApp.Models.GameSession

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GamePageView</title>
</head>
<body>
    <div>
        @Model.Context.UserUid
        <br />
        @Model.Context.CardIndexSequenceStartSeed
        <br />
        @Model.Context.CardIndexSequence
        
    </div>
</body>
</html>
