@model WebApp.Models.IndexPageVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alias Game</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
    <script type="text/javascript">
        function ChangeUserNameSelection(sel) {
            if (sel.value == "@Guid.Empty.ToString()") {
                $('#newusername').css("display", "block");
            }
            else {
                $('#newusername').css("display", "none");
            };
        }
    </script>
</head>
<body>
    <!-- http://habrahabr.ru/post/238449/ -->

    <!-- http://vladmaxi.net/web-developer/css/22-luchshix-formy-vxoda-i-registracii-na-sajte-v-html-css.html -->

    @using (Html.BeginForm("Create", "Users", FormMethod.Get, new { id = "slick-login" }))
    {
        @Html.DropDownList("selectedUserName",
            @Model.UCList.Select(x => new SelectListItem()
            {
                Text = x.UserName,
                Selected = x.UserUid == Guid.Empty,
                Value = x.UserUid.ToString()
            }),
            new { @class = "placeholder", id = "selectUserName", onchange = "ChangeUserNameSelection(this);" })
        <label for="username">Логин:</label>
        <input type="text" name="username" class="placeholder" id="newusername" placeholder="Новый игрок..." />
        <input type="submit" id="SubmitButton" value="ИГРАТЬ" />
    }
</body>
</html>
