@model WebApp.Models.UserListVM

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alias Game</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script language="javascript">
        //function SendAjaxPostRequest() {
        //    $.getJSON("/api/cards/4", DataParse);
        //}

        //function DataParse(data) {
        //    //alert("Прибыли данные: " + data.Index);
        //    document.getElementById('card').innerHTML = 'Fred Flinstone';
        //}

        function ShowUserSelector () {
            $('#divSelectName').css('display', 'block');
            $('#divCreateNewName').css('display', 'none');
        }

        function ShowUserCreator() {
            $("#divSelectName").css("display", "none");
            $("#divCreateNewName").css("display", "block");
        }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                </button>
                </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <div id="logon">
            <button onclick="ShowUserSelector()">Выбрать существующие</button>
            <button onclick="ShowUserCreator()">Перейти к созданию</button>
        </div>
        <div id="divSelectName" style="display : none">
            @Html.DropDownListFor(x => x.StringSelectedUserUid,
                Model.Users
                .Select(u => new SelectListItem()
                {
                    Text = u.UserName,
                    Value = u.UserUid.ToString()
                }))
            @Html.ActionLink("Выбрать", "GamePage", "Home", new { userUid = Model.StringSelectedUserUid }, null)
        </div>

        <div id="divCreateNewName" style="display : none">
            @using (Html.BeginForm("CreateUser", "Home"))
            {
                @Html.TextBox("userName")
                <input type="submit" value="Создать" />
            }
        </div>
        <br />

        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
